[submodule "contrib/deterministic-build/electrum-locale"]
	path = contrib/deterministic-build/electrum-locale
	url = https://github.com/spesmilo/electrum-locale
[submodule "electrum_mona/www"]
	path = electrum_mona/www
	url = https://github.com/wakiyamap/electrum-http.git
[submodule "electrum_mona/gui/kivy/theming/atlas"]
	path = electrum_mona/gui/kivy/theming/atlas
	url = https://github.com/spesmilo/electrum-kivy-atlas
